@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Lato:wght@300&family=Oswald:wght@300&family=Roboto+Condensed:wght@300&display=swap');

* {
    /*remove browser defualt settings*/
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

/*style the whole page*/
body {
    background-color: #000080;
    font-family: 'Architects Daughter',cursive;
    color: #f4f4f4;
    

}

#intro-heading {
    text-align: center;
    padding: 1%;
    background-color: #000000;
}

/*style the quiz container*/
#quiz-form {
    display: none;
    background-color: #f7e706;
    color: #0000;
    border-radius: 30px;
}

#flex-container-1 {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    min-height: 60vh;
}

/*style and posistion inputfield and playbutton inside the flex container*/
#inner-flex-1 {
    display: flex;
    border-radius: 10%;
    width: 40%;
    height: 450px;
    border: 10px #000000 solid;
    background-color: #f7e706;
    align-items: center;
    justify-content: space-around;
}
#intro-rules{
    text-align: center;
    padding-top: 2%;
    padding-right: 40%;
    padding-left: 40%;
    margin-top: 2%;
    background-color: black;
    
    
}

/*style the buttons*/
#play-btn,
#next-area-btn,
#submit-btn,
#previous-area-btn {
    background-color: #000080;
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-top: 2%;
    border-radius: 5px;
    border:3px #000000 solid;
}

#show-all-answers-btn,#restart-btn {
    background-color: #ff0202;
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin: 3%;
    border-radius: 5px;
}

#submit-area {
    text-align: center;
}

#submit-btn {
    float: right;
}

#input-name {
    width: 20%;
    padding: 12px 20px;
    border: 1px solid #ccc;
}

#quiz-form {
    color: #000000;
    width: 50%;
    margin-top: 7%;
    margin-left: 28%;
    border: 10px #000000 solid;
    padding: 1%;
    font-weight: bold;
    font-size: 150%;
}

/*style the radiobuttons*/
.radio-container {
    background-color: #f4f4f4;
    display: block;
    position: relative;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 110%;
    border: 1px #000000 solid;
}

.radio-container:hover {
    background-color: #000080;
}

/*not showing area until clicking the play button*/
#next-area-2,
#next-area-3,
#submit-area {
    display: none;
}

/*style the wrong input text*/
#wrong-input-text{
    font-size: 130%;
    background-color: #000000;
    font-weight: bold;
}