@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Lato:wght@300&family=Oswald:wght@300&family=Roboto+Condensed:wght@300&display=swap');
* { /*remove browser defualt settings*/
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body{
    background-color: #000080;
    font-family: 'Architects Daughter', cursive;
    color: #f4f4f4;
    
}
#quiz-form{
    display: none;
}
#flex-container-1{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
#inner-flex-1{
    display: flex;
    width: 40%;
    height: 450px;
    background-color: orange;
    align-items: center;
    justify-content: space-around;
}
